#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, label {
  color: var(--primary-marine-blue);
}

p {
  color: var(--neutral-cool-gray);
  width: 80%;
  line-height: 1.6rem;
  text-align: left;
}

label {
  font-weight: 500;
  font-size: 14px;
}

input {
  background-color: transparent;
  border: 1px solid var(--neutral-cool-gray);
  padding: 10px;
  font-size: 14px;
  width: 100%;
}

.container {
  background-color: var(--neutral-alabaster);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 100px 20px;
  padding: 30px;
  border-radius: var(--border-radius);
}

.multistep-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin-bottom: 10px;
  width: 300px;
}

.form__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin-bottom: 20px;
}

.form__footer {
  background-color: white;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__button {
  width: 100px;
  height: 40px;
  margin: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-marine-blue);
  cursor: pointer;
}

.form__button-back {
  background-color: transparent;
  border: none;
  color: var(--neutral-cool-gray);
  font-weight: 700;
  margin: 20px;
  cursor: pointer;
}

.steps {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(./assets/images/bg-sidebar-mobile.svg);
  background-size: cover;
}

.step {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid var(--neutral-white);
    font-weight: 700;
}

.step > p {
  text-align: center;
  color: var(--neutral-white);
  font-weight: 400;
}

.active {
  background-color: var(--primary-light-blue);
  border: 1px solid var(--primary-light-blue);
}

.active > p {
  color: var(--primary-marine-blue);
}

.form__plans {
  width: 100%;
}

.form__plan {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--neutral-cool-gray);
  padding: 15px 10px;
  border-radius: var(--border-radius);
}

.form__plan-active {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--primary-purplish-blue);
  background-color: var(--primary-pastel-blue);
  padding: 15px 10px;
  border-radius: var(--border-radius);
}
