@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: var(--text-dark-grayish-blue);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-lime-green: hsl(163, 72%, 41%);
  --primary-bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: hsl(37, 97%, 70%);
  --youtube: hsl(348, 97%, 39%);

  /* dark theme */
  --toggle-dark: linear gradient hsl(210, 78%, 56%);
  --toggle-light: hsl(230, 22%, 74%);

  /* neutral */
  /* - dark theme */
  --bg-very-dark-blue: hsl(230, 17%, 14%);
  --top-bg-very-dark-blue: hsl(232, 19%, 15%);
  --card-bg-disaturated-blue: hsl(228, 28%, 20%);
  --white: hsl(0, 0%, 100%);

  /* - light theme */
--very-pale-blue: hsl(225, 100%, 98%);
--card-bg-light-grayish-blue: hsl(227, 47%, 96%);
--text-dark-grayish-blue: hsl(228, 12%, 44%);
--text-very-dark-blue: hsl(230, 17%, 14%);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
}

h1 {
  color: var(--bg-very-dark-blue);
  font-size: 1.5rem;
}

h2 {
  color: var(--bg-very-dark-blue);
}

p {
  font-weight: 700;
}

hr {
  color: var(--bg-very-dark-blue);
  margin: 20px 0px;
}

header {
  margin-bottom: 40px;
}

li {
  list-style-type: none;
}

.container {
  margin: 20px;
  max-width: 900px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.followers__card {
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--very-pale-blue);
  border-top: 3px solid var(--facebook);
  cursor: pointer;
}


.followers__card:hover {
  background-color: var(--card-bg-light-grayish-blue);
}

.followers_username {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.followers {
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.followers_count {
  font-size: 3rem;
}

.followers_day_stat, .stat__daily {
  color: var(--primary-lime-green);
}

.down {
  color: var(--primary-bright-red);
}

.up {
  color: var(--primary-lime-green);
}

.up, 
.down {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.overview__header {
  margin: 20px 0px;
  color: var(--text-dark-grayish-blue);
}

.stat {
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-pale-blue);
  cursor: pointer;
}

.stat:hover {
  background-color: var(--card-bg-light-grayish-blue);
}

.stat__right, .stat__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat__left {
  align-items: end;
}

@media screen and (min-width: 768px) {
  
  h1 {
    font-size: 2rem;
  }

  .container {
    margin: 20px auto;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .followers__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  hr {
    border: transparent;
  }

  p {
    font-size: 1rem;
  }

  .followers__card {
    width: 200px;
    border-radius: 5px;
  } 

  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .stat {
    height: 100px;
    width: 200px;
  }
}